.wipe-out{
    animation: wipeOut 30s ease-in infinite;
}


@keyframes wipeOut {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(-25%);
    }
    33% {
        transform: translateX(-25%);
    }
    38% {
        transform: translateX(-50%);
    }
    66% {
        transform: translateX(-50%);
    }
    71%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(-75%);
    }
    
}