.menu-appear{
    animation: Appeara .1s linear;
}
.menu-disappear{
    right: -300px;
    animation: Disappear .1s linear;
}

@keyframes Appeara {
    from{
        right: -300px;
    }
    to{
        right: 0;
    }
}
@keyframes Disappear {
    from{
        right: 0;
    }
    to{
        right: -300px;
    }
}