.res_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &_form{
        width: 50%;
        height: 100%;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            display: inline-block;
            margin-top: 20px;
            border: 1px solid black;
        }
        button{
            background-color: aqua;
            margin-left: 45px;
            margin-top: 20px;
            padding: 5px 10px;
            border-radius: 5%;
        }
        h6{
            font-size: 10px;
            color:black;
            text-align: center;
        }
    }
    
}